[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "smartsheetr"]
	path = smartsheetr
	url = https://github.com/cole-johanson/smartsheetr
